{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<h1>Home of Verity</h1>
<div>
    <form action="{{url_for('home.submit_user_name')}}" method="POST">
        <p>New User:</p>
        <input
            type="text"
            id="userName"
            name="userName"
            rows="4"
            cols="50"
            placeholder="Enter User Name Here"
        />
        <input type="submit" value="Submit" />
    </form>
</div>
<div>
    <p>
    {% for user in users %}
- {{ user[0] }}<br>
    {% endfor %}
    </p>
</div>
{% endblock %}
