{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<h1>Home of Verity</h1>
<div>
    <form action="{{url_for('home.submit_budget_name')}}" method="POST">
        <p>New Budget Name:</p>
        <input
            type="text"
            id="budgetName"
            name="budgetName"
            rows="4"
            cols="50"
            placeholder="Enter Budget Name Here"
        />
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}
